
.inter-normal {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    /* font-weight: <weight>; */
    font-style: normal;
  }
  
.raleway-normal {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    /* font-weight: <weight>; */
    font-style: normal;
  }
/* Nav Style */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 150px;
}
.nav-title{
    font-weight:900 ;
    font-size: 34px;
    color: rgba(78, 71, 255, 1);
}
.logo{
    font-size: 5em;
}
.nav-btn{
    font-weight: 700;
    font-size: 16px;
    color: #FFFFFF;
    background-color: #4E47FF;
    border-radius: 10px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    padding: 12px 36px 12px 36px;
    border: none;

}
/* Banner style */
.banner-title{
    font-weight: 700;
    font-size: 65px;
    color: rgba(37, 36, 50, 1);
}
.banner{
    justify-content: center;
    text-align: center;
    padding:309px 267px 91px 267px ;
    
    
    
}
.nav-banner{
    background-image: url(../Assets/Hero-bg.png);
    /* background-repeat: no-repeat; */
    
}
/* Action section style */
.action-title{
    font-weight: bold;
    font-size: 42px;
}
.action-description{
    font-weight: 400;
    font-size: 24px;
}
.action-profile-pic{
    width: 403px;
    height: 328;
    border-radius: 48px;
}
.action-section{
    display: flex;
    justify-content: space-between;
    margin: 116px 159px 116px 141px;
    
}
.action-content{
    width: 517px;
    height: 203px;
}
.center-title{
    font-weight: bold;
    font-size: 38px;
}
.data-title{
    font-weight: bold;
    font-size: 80px;
    color:rgba(78, 71, 255, 1) ;
}
.data-subtitle{
    font-weight: 400;
    font-size: 20px;
    color: rgba(0, 0, 0, 0.5);
}
.productive-users{
    display: flex;
    justify-content: space-between;
    gap: 158px;
    margin: 50px 142px 50px 142px;
    
    /* padding: 40px 142px 50px 142px; */
    
    

}
.center-text{
    text-align: center;
    
}
.Productive{
    max-width: 1140px;
    max-height: 360px;
    margin: 0px auto;
    border-radius: 24px;
    padding: 50px 0px 70px 0px;
    
    background-color: rgba(78, 71, 255, 0.1);  
}
/* Let’s Get In Touch Section  */
.touch{
    display: flex;
    max-width:1140px;
    max-height:632 ;
    justify-content: space-between;
}
.section-title{
    font-weight: bold;
    font-size: ;
}
/* Tuch section style */
.touch-column{
    margin-left: 500px;
    /* height: 140px; */
    width: 632px;
    display: flex;
    /* margin: 92px 150px; */
    padding: 92px 150px;
    gap: 115px;
    /* text-align: center; */
    justify-content: space-between;

}
.tuch-titles{
    height: 528px;
    width: 232px;
    font-weight: bold;
    font-size: 97px;
    

}
.tuch-titles{
    /* justify-content: space-between; */
    /* padding: 50px 100px; */
}
div input[type="text"]{
    height: 70px;
    border-radius: 5px;
    background-color: #fff;
    display: block;
    width: 100%;
    padding: 10px 20px;
    margin-bottom: 24px;
    border: none;
}
.page-color{
    background-color:#f5f7ff;
}
.about{
    padding: 104px 455px 103px 454px;
    text-align: center;
    background-color: rgba(255, 255, 255, 1);

}
.about-links{
    display: flex;
    gap: 48px;
    
    justify-content: center;
}
.about-links a{
    text-decoration: none;
}
.section-description{
    color: rgba(137, 135, 161, 1);
    font-size: 1.5em;
    margin-bottom: 40px;
    padding: 0 20px;
}
a{
    color: rgba(137, 135, 161, 1);
    font-size: 1.5em;
}
a:hover{
    color: burlywood;
background-color:hsl(60, 30%, 22%) ;
}

.reviews-section{
    text-align: center;
    /* max-width: 1200px; */
    font-weight: bold;
    font-size: 42px;
    width: 100%;
    padding: 20px;
}
.nav-btn:hover{
    background-color: hsl(60, 30%, 22%);
    color: #fff;
    cursor: pointer;
}



